// Bug with interaction between Next.js and Framer Motion: https://github.com/vercel/next.js/discussions/18724
// Cannot use CSS modules, must import all styles globally
@use "../components/Chart/Chart";
@use "../components/Credits/Credits";
@use "../components/Footer/Footer";
@use "../components/Header/Header";
@use "../components/Portfolio/Portfolio";
@use "../components/SignInForm/SignInForm";

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.error-404 {
  position: absolute;
  top: var(--mantine-header-height);
  bottom: var(--mantine-footer-height);
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
}

.modal-form {
  & > * + * {
    margin-top: 1rem;
  }

  &.dark input:disabled {
    color: hsl(225, 3%, 76%);
  }
}

.hover-table-row {
  cursor: pointer;
  &:hover {
    background-color: #f1f3f5;
  }
  &.dark {
    &:hover {
      background-color: #25262b;
    }
  }
}

.section-title {
  font-size: 1rem;
  color: #868e96;
  margin: 0;
}

.main-title {
  font-weight: bold;
  font-size: 2rem;
}

.mantine-AppShell-root {
  flex: 1;
}

.mantine-AppShell-main {
  height: calc(
    100vh - var(--mantine-header-height) - var(--mantine-footer-height)
  );
  overflow-y: auto;
}

.mantine-TextInput-required {
  display: none;
}

.mantine-Modal-inner {
  align-items: center;
}

.mantine-Modal-root form input:disabled {
  color: black;
  opacity: 1;
}
