.signin-form-container {
  position: absolute;
  top: var(--mantine-header-height);
  bottom: var(--mantine-footer-height);
  left: 0;
  right: 0;
  flex: 1;
  display: grid;
  place-items: center;

  .paper {
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35rem;
    max-width: calc(100vw - 4rem);
    padding: 4rem;

    & > * + * {
      margin-top: 1.5rem;
    }

    h2 {
      font-size: 2rem;
      margin: 0;
    }

    .mantine-TextInput-root {
      width: 100%;
    }

    .mantine-TextInput-required {
      display: none;
    }

    .toggle-form {
      display: block;
      font-size: 0.8rem;
      text-decoration: underline;
    }
  }
}
